body {
    font-family: Arial, sans-serif;
    background: #00c6ff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

img {
  border: 5px solid #002147;
  class: "center"
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
